/* The sidebar menu */
.bottomblock {
    text-align: center;
    list-style-type: none;
    height: auto; /* Full-height: remove this if you want "auto" height */
    width: 100%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    background-color: rgb(119, 233, 119);
    
}